@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --color-base1: #6C25C7;
    --color-base2: #6410D0;
    --color-base2-lighter: #6310d0a1;
    
    --color-font1: #fff;
    --color-font2: #ccc;
    --color-font3: #757575;
}
*::selection { background: #500088 }
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: filter .5s ease;
}   
*:focus {
    outline: none;
    filter: brightness(85%) !important;
    color: var(--color-base2);
    outline: 1px dashed var(--color-font2);
}
*::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
*:hover::-webkit-scrollbar {
    background: var(--color-base1) !important;
}
*:hover::-webkit-scrollbar-thumb {
    background: var(--color-font1);
    border-radius: 10px;
}
*::-webkit-scrollbar-corner {
    display: none;
}
body {
    /* recommended: https://images.unsplash.com/photo-1585219453989-79562fe2c856?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1334&q=80 */
    /* https://images.unsplash.com/photo-1644100254664-dccb172c72aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80 */
    background: url(/src/Background.avif) no-repeat center center fixed, url(/src/Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden !important;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
} 


.wrper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrper .divider {
    height: 7px;
    width: 30%;
    background-color: var(--color-font2);
    border-radius: 100px;
}
.inputContainer { display: flex; align-items: center; position: relative;}
.inputContainer .icon {
    color: var(--color-base2);
    background: var(--color-font1);
    padding: 0 5px;
    height: 31px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    --ionicon-stroke-width: 50px;
}
.inputContainer select {
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    color: var(--color-base1) !important;
    background: var(--color-font1);
}
#NOTES_CONTAINER msg { display: none; }
#NOTES_CONTAINER msg {
    display: flex;
    padding: 15px;
    background: linear-gradient(to bottom, var(--color-base2-lighter), purple);
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    backdrop-filter: 20px;  
	flex-direction: column;
    width: 100%;
    border-bottom: 10px solid var(--color-base2);
}

/* Popup */
.popupContainer {
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000008e;
}
.popupContainer .dialog {
    background: var(--color-base2);
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    border-radius: 20px;
    overflow: auto;
    overflow: hidden !important;
}
.popupContainer .popup {
    background: var(--color-base2);
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    border-radius: 20px;
    overflow: auto;
    overflow: hidden !important;
}
.popupContainer .popup .topBar {
    position: relative;
    height: 4rem;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    background: var(--color-base1);
}
.popupContainer .popup .main {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px;
}
.popupContainer .popup .logo {
    max-height: 300px;
}
.popupContainer .popup h1.header {
    font-size: 80px;
    color: var(--color-font1);
}
.popupContainer .popup .main .desc {
    position: relative;
    right: -120px;
    opacity: 0;
    color: var(--color-font1);
    font-size: larger;
    margin-left: 20px;
    animation: moveLeft_POPUP 1s 1.5s ease both;
}
.popupContainer .popup .topBar #CLOSE {
    font-size: x-large;
    color: var(--color-font1);
    --ionicon-stroke-width: 70px;
}

.appWindow_container {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0; left: 0;
    z-index: 9999999;
    color: #fff;
    height: 0;
    padding: 10px;
}

/*  Basic element styles */
a {
   color: #46ffff;
   cursor: pointer;
   text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
#NOTES_CONTAINER note > #NOTE_TEXT h1,
.noteEditor .previewPanel .preview h1 {
    border-bottom: 4px solid #ccc;
    margin-bottom: 10px;
}
h1::first-letter {
    text-transform: uppercase;
}
ul { padding-left: 20px; }
ol { padding-left: 20px; }
button {
    background-color: var(--color-base1);
    color: var(--color-font1) !important;
    border-radius: 0.2rem;
    padding: 5px;
    font-size: medium;
    border: 0;
    display: block;
    margin: 10px 0;
    position: relative;
    border-bottom: 2px solid var(--color-font1);
    bottom: 0;
    transition: all .5s ease;
}
button:hover {
    filter: brightness(120%);
    bottom: 3px;
}
button.outline {
    background: none;
    border: 2px solid var(--color-font1);
}
blockquote {
    padding: 10px;
    font-size: large;
    margin: 10px 0;
    border-left: 5px solid #ccc;
    border-radius: 5px;
    background: #282a36;
}
blockquote code { background: #000; }

table {
    color: black;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
thead {
	background-color: #333333b4;
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}
thead th { padding: 10px; text-align: center !important; }
td { padding: 5px; }
tr > td[style="text-align:left"]:first-of-type {
    width: 0;
    font-weight: 800; 
    padding: 0 20px;
}
tr > td[style="text-align:right"]:first-of-type {
    width: 100%;
}
tbody tr:nth-child(odd) {
    background-color: #ffffffd4;
}
tbody tr:nth-child(even) {
    background-color: #ccceee;
}
kbd {
    background-color: #eee !important;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333 !important  ;
    display: inline-block;
    font-size: .85em;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

/* loader */
.loader-container {
    background: #28004eec;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 9999999;
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
    animation: disappear .1s 1.5s ease both;
}
.loader-container .loader {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border-right: 5px solid var(--color-base1);
    border-left: 5px solid var(--color-base2);
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px #000734;
    animation: loader-spin 1s ease-in-out infinite;
}
.loader-container .loader img {
    width: 100%;
    animation: loader-spin-reverse 1s ease-in-out infinite;
}

/* ANIMATIONS */
@keyframes float {
    to {
        bottom: 20px;
    }
}
@keyframes moveLeft_POPUP {
    to {
        opacity: 1;
        right: 0;
    }
}
@keyframes disappear { to { visibility: hidden; opacity: 0; } }
@keyframes loader-spin { to { transform: rotate(360deg); } }
@keyframes loader-spin-reverse { to { transform: rotate(-360deg); } }

/* CHECKBOX  */
#checklist {
--background: #ffffff;
--text: #414856;
--check: #ccc;
--disabled: #C3C8DE;
--width: 100px;
--height: 140px;
--border-radius: 10px;
padding: 10px;
}
#checklist label {
position: relative;
display: inline-flex !important;
align-items: center;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
outline: none;
transition: color 0.3s ease;
white-space: nowrap;
text-overflow: ellipsis;
}
#checklist label::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 8px;
    left: -37px;
    background: var(--check);
    border-radius: 2px;
    margin-left: 3px;
    transition: background 0.3s ease;
    box-shadow: 0 0 0 10px red;
}
#checklist input[type=checkbox] {
-webkit-appearance: none;
-moz-appearance: none;
position: relative;
height: 15px;
width: 15px;
padding: 10px;
outline: none;
border: 0;
cursor: pointer;
display: flex;
margin-inline: 10px;
border-radius: 10px;
background: #03a600;
}
#checklist input[type=checkbox]::before, #checklist input[type=checkbox]::after {
content: "";
position: absolute;
height: 2px;
background: var(--check);
border-radius: 2px;
}
#checklist input[type=checkbox]::before {
    width: 0px;
    margin-top: 5px;
    right: 60%;
    transform-origin: right bottom;
}
#checklist input[type=checkbox]::after {
    margin-top: 5px;
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}
#checklist input[type=checkbox]:checked::before {
-webkit-animation: check-01 0.4s ease forwards;
        animation: check-01 0.4s ease forwards;
}
#checklist input[type=checkbox]:checked::after {
-webkit-animation: check-02 0.4s ease forwards;
        animation: check-02 0.4s ease forwards;
}
#checklist input[type=checkbox]:checked + label {
color: var(--disabled);
-webkit-animation: move 0.3s ease 0.1s forwards;
        animation: move 0.3s ease 0.1s forwards;
}
#checklist input[type=checkbox]:checked + label::before {
background: var(--disabled);
-webkit-animation: slice 0.4s ease forwards;
        animation: slice 0.4s ease forwards;
}
#checklist input[type=checkbox]:checked + label::after {
-webkit-animation: firework 0.5s ease forwards 0.1s;
        animation: firework 0.5s ease forwards 0.1s;
}

@-webkit-keyframes move {
50% {
    padding-left: 8px;
    padding-right: 0px;
}
100% {
    padding-right: 4px;
}
}

@keyframes move {
50% {
    padding-left: 8px;
    padding-right: 0px;
}
100% {
    padding-right: 4px;
}
}
@-webkit-keyframes slice {
60% {
    width: 100%;
    left: 4px;
}
100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
}
}
@keyframes slice {
    60% {
        width: 100%;
        left: 4px;
    }
    100% {
        width: 100%;
        left: -4px;
        padding-left: 0;
        box-shadow: none;
    }
}
@-webkit-keyframes check-01 {
0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
}
50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
}
51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
}
100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
}
}
@keyframes check-01 {
0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
}
50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
}
51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
}
100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
}
}
@-webkit-keyframes check-02 {
0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
}
50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
}
51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
}
100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
}
}
@keyframes check-02 {
0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
}
50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
}
51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
}
100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
}
}
@-webkit-keyframes firework {
0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
}
30% {
    opacity: 1;
}
100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
}
}
@keyframes firework {
0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
}
30% {
    opacity: 1;
}
100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
}
}