@media screen and (max-width: 1330px) { 
    .popupContainer {
        justify-content: initial;
    }
    .popupContainer .popup {
        height: 100%;
        min-width: 100%;
        border-radius: 0;
    }
    .popupContainer .popup .main {
        padding: 0;
        flex-direction: column;
    }
    .popupContainer .popup .logo {
        margin: 30px;
    }
    nav.topBar {
        top: 60px;
        z-index: 1;
    }
    aside.sideBar .collectionGrp { 
        position: fixed;
        width: 30vw;
        opacity: 0;
        height: 100vh !important;
        z-index: 9 !important;
        top: 0; left: -100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center !important;
        background: var(--color-font1);
    }
    aside.sideBar .collectionGrp.enter {
        animation: enter .5s ease-in-out both;
    }
    aside.sideBar .collectionGrp.fade-out {
        animation: enter .5s ease-in-out both reverse !important;
    }
    @keyframes enter {
        to {
            opacity: 1;
            left: 0%;
        }
    }
    aside.sideBar .noteTypeWrper.active {
        display: none !important;
    }
    aside.sideBar {
        position: initial;
        height: 8vh;
        width: var(--offsetWidth);
        z-index: 2;
        flex-direction: row;
        align-items: center;
        box-sizing: content-box;
        overflow: initial;
        background: var(--color-base2);
        padding-bottom: 30px;
        padding-inline: 20px;
    }
    aside.sideBar .newNoteBtnWrper {
        position: fixed;
        bottom: 0;
        z-index: 2;
        right: 100px;
    }
    aside.sideBar > ion-icon {
        display: initial !important;
        font-size: xx-large;
        color: var(--color-font1);
    }
    aside.sideBar .logoContainer {
        transform: scale(80%);
        background: none;
        padding: 0;
    }
    #NOTES_CONTAINER {
        margin-top: 50px !important;    
    }
    aside.sideBar .logoContainer::after { all: unset }
    /* #ADD_NEW_NOTE_BUTTON.rotate {
        top: 100px !important;
    } */
    :root { --offsetWidth: calc(100% - var(--margin)*2) }
}
@media screen and (max-width: 778px) {
    nav.topBar .inputContainer select, .inputContainer.iconOnly select {
        position: absolute;
        width: 20px;
        left: 0;
        opacity: 0;
    }
    aside.sideBar {
        width: var(--offsetWidth) - var(--margin);
    }
    nav.topBar .inputContainer .icon { padding: 0 5px }
    nav.topBar .inputContainer #SETTINGS_BUTTON {
        background: var(--color-font1);
        color: var(--color-base2) !important;
        padding: 6.5px;
        padding-right: 10px;
        font-size: 18px;
        margin: 0rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    note .topBar {
        font-size: small;
    }
    .noteEditor.full .previewPanel {
        top: 0; left: 0 !important;
        min-width: 100% !important;
    }
    .noteEditor.full.side {
        min-width: 100% !important;
    }
    aside.sideBar .collectionGrp {
        width: 50vw;
    }
}
@media screen and (max-width: 550px) {
    :root { 
        --margin: 10px;
        --offsetWidth: calc(100% - var(--margin)*2);
    }
    nav.bottomNav {
        width: calc((var(--offsetWidth) - var(--margin)));
        justify-content: space-between;
        padding: 10px;
    }
    nav.bottomNav ion-icon { font-size: xx-large;}
    nav.topBar .newNoteBtn span { display: none }
    nav.topBar { padding-inline: 10px; }
    note #NOTE_HEADER {
        font-size: xx-large !important;
    }
    nav.topBar .refreshNotesBtn { display: none };
    note #NOTE_TEXT {
        font-size: 1em !important;
    }
    #NOTES_CONTAINER {
        width: 100% !important;
        margin: 0px !important;
        padding: 45px 15px;
    }
    .popupContainer .popup .logo {
        height: 200px;
    }
    .popupContainer .popup h1.header {
        margin-top: 0;
        font-size: 2.4em;
    }
    note .topBar span#TIME {
        position: static !important;
    }
    note .topBar {
        position: static;
        margin: 0 !important;
        height: fit-content !important;
        justify-content: center !important;
    }
    note .topBar .grp {
        bottom: -10px; left: 0 !important;
        width: 100%;
        box-shadow: none !important;
        justify-content: center;
    }
    note .topBar .grp .option {
        opacity: 0 !important;
        border-bottom: 5px solid blueviolet;
    }
    note .topBar .grp .option:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
    note .topBar .grp .option:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
    aside.sideBar .newNoteBtnWrper {
        width: 100vw;
        right: 0;
        height: 0;
        margin-bottom: 100px;
        overflow: visible;
        z-index: 3;
    }
    aside.sideBar .collectionGrp {
        width: 80vw;
    }
}