@media screen and (max-width: 1330px) { 
    .popupContainer {
        justify-content: initial;
    }
    .popupContainer .popup {
        height: 100%;
        min-width: 100%;
        border-radius: 0;
    }
    .popupContainer .popup .main {
        padding: 0;
        flex-direction: column;
    }
    .popupContainer .popup .logo {
        margin: 30px;
    }
}
@media screen and (max-width: 768px) {
    nav.bottomNav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
        border-radius: 0;
    }
    nav.topBar .inputContainer #SORT_BY {
        position: absolute;
        width: 20px;
        left: 0;
        opacity: 0;
    }
    nav.topBar .inputContainer .icon[data-id="SORT_BY"] {
        padding: 0 10px;
    }
    nav.topBar .inputContainer #SETTINGS_BUTTON {
        background: var(--color-font1);
        color: var(--color-base2) !important;
        padding: 6.5px;
        padding-right: 10px;
        font-size: 18px;
        margin: 0rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    note .topBar {
        font-size: small;
    }
    .noteEditor.full .previewPanel {
        top: 0; left: 0 !important;
        min-width: 100% !important;
    }
    .noteEditor.full.side {
        min-width: 100% !important;
    }
}
@media screen and (max-width: 550px) {
    .inputContainer #VIEW_TYPE,
    .inputContainer .icon[data-id="VIEW_TYPE"],
    nav.bottomNav span.divider {
        display: none;
    }
    nav.topBar .logoContainer .title { display: none; }
    .searchBox > #SEARCH {
        font-size: 12px;
    }
    .searchBox .searchIcon {
        padding: 0 5px !important;
    }
    note #NOTE_HEADER {
        font-size: xx-large !important;
    }
    note #NOTE_TEXT {
        font-size: 1em !important;
    }
    #NOTES_CONTAINER {
        margin-inline: 5px !important;
        margin-bottom: 120px !important;
        margin-top: 60px;
    }
    .popupContainer .popup .logo {
        height: 200px;
    }
    .popupContainer .popup h1.header {
        margin-top: 0;
        font-size: 2.4em;
    }
    note .topBar span#TIME {
        position: static !important;
    }
    note .topBar {
        position: static;
        margin: 0 !important;
        height: fit-content !important;
        justify-content: center !important;
    }
    note .topBar .grp {
        bottom: -10px; left: 0 !important;
        width: 100%;
        box-shadow: none !important;
        justify-content: center;
    }
    note .topBar .grp .option {
        opacity: 0 !important;
        border-bottom: 5px solid blueviolet;
    }
    note .topBar .grp .option:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
    note .topBar .grp .option:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
}