/* top */
nav.topBar {
    width: var(--offsetWidth);
    padding: 8px calc(var(--margin) / 2);
    margin: var(--margin);
    border-radius: 10px;
    background: var(--color-font1);
    position: fixed;
    display: flex;
    gap: 10px;
    top: 0; right: 0;
    z-index: 10;
    font-size: x-large;
    box-shadow: 0 2px 10px #383838;
    color: var(--color-base2);
    transition: top .3s ease;
}
nav.topBar .searchBox { display: flex; align-items: center; width: 100%; }
nav.topBar .searchBox #SEARCH {
    border: 0;
    margin-left: 10px;
    font-size: 16px;
    outline: 0;
    width: 100%;
}
nav.topBar .refreshNotesBtn {
    font-size: 20px;
    min-width: 20px;
    --ionicon-stroke-width: 50px;
    transition: transform, 1s ease;
}


/* Bottom */
nav.bottomNav {
    position: fixed;
    margin: 15px;
    color: var(--color-base1);
    bottom: 0; left: 0;
    display: flex;
    z-index: 2;
    gap: 10px;
}
nav.bottomNav > ion-icon {
    font-size: x-large;
    color: var(--color-base1);
    background: var(--color-font2);
    padding: 8px;
    border-radius: 5px;
}
nav.bottomNav .inputContainer {
    padding-inline: 10px;
}
/* => side bar */
aside.sideBar {
    position: fixed;
    height: 100%;
    width: 18vw;
    left: 0; top: 0;
    background: var(--color-font1);
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 0 10px #404040be;
    overflow: hidden;
}
/* logo */
aside.sideBar .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    padding: 30px 0 20px 0;
    background: var(--color-base2);
    user-select: none;
}
aside.sideBar .logoContainer::after {
    content: "";
    height: 40px;
    width: 28em;
    position: absolute;
    bottom: -20px;
    background: var(--color-base2);
    transform: rotate(-5deg);
}
aside.sideBar .logoContainer .logo {
    height: 45px;
    z-index: 1;
    -webkit-user-drag: none;
}
aside.sideBar .logoContainer .title {
    height: 40px;
    z-index: 1;
    -webkit-user-drag: none;
}
/* collections */
aside.sideBar .collectionGrp {
    padding: 10px;
}
aside.sideBar .collectionGrp .collection {
    background: var(--color-font2);
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    color: #383838;
    user-select: none;
}
aside.sideBar .collectionGrp .collection:hover {
    filter: brightness(92%);
}
aside.sideBar .collectionGrp .collection.active {
    background: var(--color-base2);
    color: beige;
}
aside.sideBar .collectionGrp .collection ion-icon {
    font-size: 2.8em;
    margin-right: 10px;
}
aside.sideBar .collectionGrp button {
    font-size: larger;
    margin-top: 20px;
}
aside.sideBar .collectionGrp::before {
    content: "COLLECTIONS";
    color: var(--color-base2);
    font-weight: bolder;
    letter-spacing: 2px;
}
/* new note btn */
aside.sideBar #ADD_NEW_NOTE_BUTTON {
    padding: 15px;
    box-shadow: 0 0 100px var(--color-base2);
    display: grid;
    top: 0;
    place-items: center;
    position: relative;
    background: var(--color-font1);
    border-radius: 25px 25px 0 0;
    transition: top .5s ease;
}
aside.sideBar #ADD_NEW_NOTE_BUTTON::after, aside.sideBar #ADD_NEW_NOTE_BUTTON::before {
    content: "";
    position: absolute;
    background: var(--color-font1);
    height: 100%;
    width: 25px;
    border-bottom: 10px solid var(--color-font1)
}
aside.sideBar #ADD_NEW_NOTE_BUTTON::after {
    transform: rotate(-18deg);
    right: -10px;
    border-top-right-radius: 25px;
}
aside.sideBar #ADD_NEW_NOTE_BUTTON::before {
    transform: rotate(18deg);
    left: -10px;
    border-top-left-radius: 25px;
}
aside.sideBar #ADD_NEW_NOTE_BUTTON ion-icon {
    background: var(--color-base2);
    color: var(--color-font1);
    font-size: 4rem;
    border-radius: 100%;
    z-index: 1;
    padding: .2rem;
    box-shadow: 0 0 10px 5px var(--color-base2-lighter);
    transition: transform .2s ease;
}
aside.sideBar #ADD_NEW_NOTE_BUTTON ion-icon:hover {    
    transform: scale(1.08);
}
aside.sideBar #ADD_NEW_NOTE_BUTTON ion-icon:active {
    transform: scale(0.8);
}
aside.sideBar #ADD_NEW_NOTE_BUTTON.rotate ion-icon {
    transform: rotate(45deg);
}
aside.sideBar .noteTypeWrper.active {
    display: grid;
    animation: fadein .5s ease-in-out alternate both;
}
aside.sideBar .noteTypeWrper {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    transform: scale(80%);
}   
aside.sideBar .noteTypeWrper .noteType {
    background: var(--color-base2);
    color: var(--color-font1);
    padding: 20px;
    font-size: 4em;
    border-radius: 10px;
    box-shadow: 0 0 100px var(--color-base1);
    cursor: pointer;
    position: relative;
    padding-right: 80px;
}
aside.sideBar .noteTypeWrper .noteType:after {
    content: ">";
    position: absolute !important;
    background: var(--color-font2);
    display: flex;
    color: var(--color-base2-lighter);
    right: 0; top: 0;
    height: 100%;
    line-height: 0;
    padding-inline: 10px;
    align-items: center !important;
}
aside.sideBar ion-icon.hidden { display: none }